@model StudentManagementSystem.Models.Login 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Login</title>
    <link href="~/css/LoginCSS.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form asp-action="Logout" method="post">
            <div class="input-group1">
                <input type="email"
                       id="email"
                       name="email"
                       placeholder="Enter the Email" />
            </div>
            <div class="input-group2">
                <input type="password"
                       id="password"
                       name="password"
                       placeholder="Enter the password"
                       required />
            </div>
            <button type="submit" class="login-button">LOGIN</button>
        </form>
        <p>Don't have an Login? <a href="/Student/RegisterStudent">Register</a></p>
    </div>
</body>
</html>
