@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .container {
            margin-top: 100px;
        }

        .btn {
            background-color: #7a828a;
            color: #fff;
            border: none;
            padding: 15px 30px;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
        }

            .btn:hover {
                background-color: #0056b3;
                transform: scale(1.05);
            }

            .btn:active {
                background-color: #004080;
                transform: scale(0.95);
            }

        .btn-container {
            margin: 20px;
            padding: 10px;

        }

        .header {
            font-size: 36px;
            color: #333;
            margin-bottom: 40px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            Welcome to the Student Management System
        </div>
        <div class="btn-container">
            <a href="@Url.Action("Login", "Account")" class="btn">Login</a>
        </div>
        <div class="btn-container">
            <a href="@Url.Action("RegisterStudent", "Student")" class="btn">Register</a>
        </div>
    </div>
</body>
</html>
