@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        * {
            background-color: #FFAD60;
        }

        .container {
            display: grid;
            justify-content: center;
            margin-top: 100px;
        }

        .btn {
            background-color: #A02334;
            color: #fff;
            border: none;
            padding: 15px 30px;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
            text-decoration: none;
        }

            .btn:hover {
                background-color: #0056b3;
                transform: scale(1.05);
            }

            .btn:active {
                background-color: #004080;
                transform: scale(0.95);
            }

        .btn-container {
            margin: 20px;
            padding: 10px;
            background-color: #FFEEAD;
        }

        .btnDiv{
            border:3px solid black;
            border-radius:10px;
            width: 60%;
            margin-left:20%;
            height:200px;
            display: flex;
            flex-grow:1;
            align-items: center;
            justify-content:center;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            background-color: #FFEEAD;

        }

        .header {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 36px;
            color: #333;
            margin-bottom: 100px;
            margin-top: 50px;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            Welcome to the Student Management System
        </div>
        <div class="btnDiv">
            <div class="btn-container">
                <a href="@Url.Action("LoginStudent", "Student")" class="btn">Login</a>
            </div>
            <div class="btn-container">
                <a href="@Url.Action("RegisterStudent", "Student")" class="btn">Register</a>
            </div>
        </div>
    </div>
</body>
</html>
